<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crypto Wallet</title>
    <link rel="shortcut icon" href="static/image/favicon.ico" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="static/css/mini-dark.css">
    <link rel="stylesheet" href="static/css/styles.css">
    <script src="static/js/crypto.js" type="module"></script>
</head>
<body>
    <header>
        <div class="container">
            <div class="row">
                <div class="col-sm-10">
                    <h1>CRYPTO WALLET </h1> 
                </div>
                <div class="col-sm-2" id="fecha">
                </div>
            </div>
        </div>
    </header>
    <section class="" id="divisas">
        <div class="container">
            <h2 class="title is-4">Cotización</h2>
            <div class="row" id="cotiza">
            </div>
        </div>
    </section>
    <section class="" id="principal">
        <div class="container">
            <div class="row">
                <div class="col-sm-8">
                    <h2 class="title is-4">Mis divisas</h2>
                    <table class="hoverable" id="movimientos">
                        <thead>
                            <tr>
                                <th class="f1">Fecha</th>
                                <th class="f1">Hora</th>
                                <th class="f2">From</th>
                                <th class="f3">Cantidad From</th>
                                <th class="f2">To</th>
                                <th class="f3">Cantidad To</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!--A rellenar desde js.-->
                        </tbody>
                    </table>
                </div>
                <div class="col-sm-4" id="inversion">
                    <h2 class="title is-4">Inversion</h2>
                    <table class="horizontal" id="status">
                        <thead>
                            <tr>
                                <th><strong>Invertido:</strong></th>
                                <th><strong>Valor....:</strong></th>
                                <th><strong>Resultado:</strong></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="center" id="d_invertido"></td>
                                <td class="center" id="d_actual"></td>
                                <td class="center" id="d_resultado"></td>
                            </tr>
                        </tbody>
                    </table>
                    <table class="hidden" id="uni_status">
                        <thead>
                            <tr>
                                <th class="f1">Divisa</th>
                                <th class="f2">En Cryptos</th>
                                <th class="f2">En Euros</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!--A rellenar desde js.-->
                        </tbody>
                    </table>
                    <button class="inverse" id="mostrarT">Mostrar todos</button>
                    <button class="inverse" id="refresh">Refrescar</button>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <form class="col-sm-12">
                        <label>From</label>
                        <select name="moneda_from" id="moneda_from" placeholder="required">
                            <!--Este select se rellena desde js en base a las variables existentes.-->
                        </select>
                        <label>Cantidad</label>
                        <input name="cantidad_from" id="cantidad_from" placeholder="required">
                        <label>To</label>
                        <select name="moneda_to" id="moneda_to">
                            <!--Este select se rellena desde js en base a las variables existentes.-->
                        </select>
                        <label>Cantidad</label>
                        <input name="cantidad_to" id="cantidad_to" disabled placeholder="pulsa refrescar para mostrar">
                        <div id="botonera">
                            <button class="inverse" id="calcular">Calcular</button>
                            <button class="inverse hidden" id="aceptar">Aceptar</button>
                            <button class="inverse hidden" id="cancelar">Cancelar</button>
                        </div>
                        <div id="errores"></div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <footer class="fixed">
            <p>&copy Hugo F. Garcia 2021. Algunos derechos reservados.</p>
    </footer>
    <p class="closebtn hidden"></p>
</body>
</html>