footer.fixed {
    position: sticky;
    left: 0;
    bottom: 0;
    width: 100%;
    max-height: 30px;
    color: white;
    text-align: center;

}
.hidden {
    display: none;
}

/*Color text*/
.green {
  color: palegreen;
}
.red {
  color:crimson;
}

/* Boton cerrar */
.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  /* Cambiar color de botón */
  .closebtn:hover {
    color: black;
  }

  #fecha {
    text-align: left;
  }

  .center {
    text-align: center;
  }